* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
::selection {
  background-color: #111317;
  color: #fff;
}
/* This is a small project so why use two css files so i deleted the app.css and i will use index.css */
body {
  background: #111317;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
}
.textarea {
  width: 35vw;
  height: 540px;
  background: #f1f1f1;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
.output {
  font-size: 18px;
  width: 35vw;
  height: 540px;
  background: #222;
  border-radius: 10px;
  margin-left: 20px;
  color: #fff;
  text-align: left;
}
.control {
  display: flex;
  justify-content: center;
}
.button {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
.button:hover {
  background: linear-gradient(#fff, #222);
}
.fileName {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  width: 180px;
}
.button-edit-markdown {
  border-radius: 10px;
  height: 30px;
  width: 60px;
  background-color: transparent;
  color: #fff;
}
.button-edit-markdown:hover {
  background: linear-gradient(#fff, #222);
}
.edit {
  display: flex;
  justify-content: center;
}
